.dropdown {
    position: relative;
    display: inline-block;
    
    .dropbtn {
        border-radius: 3px;
        width: 33%;
        max-width: 9rem;
        background-color: #253745;
        cursor: pointer;
    }

    .dropdown-content-hidden { 
        display: none; 
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;

        .dropdown-option {
            border: 5px solid #f9f9f9;
        }
    }
}