.options-container {
    height: 4vh;
    width: 100%;
    padding-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 0.7rem;

    button {
        height: 3rem;
        width: 27vw;
        max-width: 9rem;
        padding: 0.8rem;
        background-color: #253745;
        color: white;
        border: none;
        margin-right: 0.7rem;
        border-radius: 0.2rem;
        cursor: pointer;
    }
}