body {
    padding: 1rem;
    margin: 0;
    background: rgb(0, 0, 20);
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'helvetica';
    color: white;
  
  }
  
  .content {
    width: 100%;
    display: flex;
  }