.test-cases-container {
    width: 100%;
    margin-left: 1rem;

    .output {
        pre {
            display: flex;
        }
    }

    .test-cases-list {
        background-color: #0B5A5E;
    }
}