.dropdown {
    position: relative;
    display: inline-block;
    
    .dropbtn {
        border-radius: 3px;
        min-width: 10rem;
        background-color: #253745;
        cursor: pointer;
    }

    .dropdown-content-hidden { 
        display: none; 
        transition: all 0.3s ease-in-out;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        z-index: 1;
        transition: all 0.3s ease-in-out;
        max-width: 1rem; 
        color: black;
        cursor: pointer;


        .dropdown-option {
            transition: all 0.3s ease-in-out;
            width: 9rem;
        }
    }
}